<div class="container-fluid">
    <div class="text-center">
        <h2><b><span class="badge bg-danger">Latest Cartoons</span></b></h2>
      </div><br>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light mx-5 h-100">
            <div class="card-body text-center">
              <youtube-player videoId="t0Q2otsqC4I" ></youtube-player>
              <h3 class="card-title">Tom & Jerry</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="e-rJfT1OtHs"></youtube-player>
              <h3 class="card-title">Shaun the Sheep</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="anBkEj11PFo"></youtube-player>
              <h3 class="card-title">Peppa Pig</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="lRKciQGYwjo"></youtube-player>
              <h3 class="card-title">Oggy and the Cockroaches</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">  
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="f9irPras66c"></youtube-player>
              <h3 class="card-title">Mr Bean Cartoon</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="Yv3ih3vgRWE"></youtube-player>
              <h3 class="card-title">Chhota Bheem  </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
       <div class="card-group">
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="CHDLNcUMkyk"></youtube-player>
              <h3 class="card-title">Doremoon</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
       
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="vYM9wrC-Kmw" class="card-img-top"></youtube-player>
              <h3 class="card-title">Motu Patlu </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>

</div>
