<div class="container-fluid">
    <div class="text-center">
        <h2><b><span class="badge bg-danger">Latest Shows</span></b></h2>
      </div><br>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light mx-5 h-100">
            <div class="card-body text-center">
              <youtube-player videoId="VMlSkNEI-Tg" ></youtube-player>
              <h3 class="card-title">The Kapil Sharma Show</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="EIJHqp0QN9k"></youtube-player>
              <h3 class="card-title">Koffee Shots With Karan</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="_GKISSGCZUw"></youtube-player>
              <h3 class="card-title">10 FUNNIEST MOMENTS IN TALK SHOW HISTORY</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="a8mgLuqUae4"></youtube-player>
              <h3 class="card-title">Friends Power Hour </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">  
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="mIxlvVlOIS0"></youtube-player>
              <h3 class="card-title">Alan Walker - Faded (Live Performance)</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-title">
              <youtube-player videoId="R4AbzwYOmNE"></youtube-player>
              <h3 class="card-text">Imagine Dragons - Believer - Pinkpop 2017 (HD Live Show) </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
       <div class="card-group">
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="y_K2uV3cA_Q"></youtube-player>
              <h3 class="card-title">Justin Bieber - Let me love you Live [HD]</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
       
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="-gjxCBGpUHY" class="card-img-top"></youtube-player>
              <h3 class="card-title">A Perfect Stress Buster | India's Laughter Champion</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
</div>
