<div class="container-fluid">
    <div class="text-center">
        <h2><b><span class="badge bg-danger">Latest Movies</span></b></h2>
      </div><br>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light mx-5 h-100">
            <div class="card-body text-center">
              <youtube-player videoId="2iBSsKB9_GQ" ></youtube-player>
              <h3 class="card-title">Dilwale</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="Jm3wo2Idmvw"></youtube-player>
              <h3 class="card-title">Gully Boy</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="C0akn-xvcX8"></youtube-player>
              <h3 class="card-title">Dear Zindagi</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="I9sR4sRAAaI"></youtube-player>
              <h3 class="card-title">Student of the Year</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">  
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="QG1cNME7qMI"></youtube-player>
              <h3 class="card-title">All is well</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-title">
              <youtube-player videoId="ZcOIXTrrB_4"></youtube-player>
              <h3 class="card-text">Veer-Zaara</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
       <div class="card-group">
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="yBm5dOd1bGo"></youtube-player>
              <h3 class="card-title">Jab Tak Hai Jaan</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
       
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="Nx98q8ch9UM" class="card-img-top"></youtube-player>
              <h3 class="card-title">Rab Ne Bana Di Jodi</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>

</div>
