<div class="container-fluid">
    <div class="text-center">
        <h2><b><span class="badge bg-danger">Latest News</span></b></h2>
      </div><br>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light mx-5 h-100">
            <div class="card-body text-center">
              <youtube-player videoId="GaPzttMgV-Y" ></youtube-player>
              <h3 class="card-title">India China News</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="Tut-sTl1L04"></youtube-player>
              <h3 class="card-title">PM Modi's speech </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="o79yvUqIpN0"></youtube-player>
              <h3 class="card-title">Russia-Ukraine War</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="FtwXvWzwhmw"></youtube-player>
              <h3 class="card-title"> India China Clash </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">  
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="dnFseYGdukc"></youtube-player>
              <h3 class="card-title">UN Security Council Slams Putin's Action</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-title">
              <youtube-player videoId="8EkqodVzXPY"></youtube-player>
              <h3 class="card-text">Deadly Protests In Peru</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
       <div class="card-group">
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="0SmPSX-mBu8"></youtube-player>
              <h3 class="card-title"> PLA Engaged In Faceoff In Arunachal's Tawang: Sources</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
       
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="u_2iPui2fgQ" class="card-img-top"></youtube-player>
              <h3 class="card-title">Bharat jodo yatra </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
