<div class="container-fluid">
    <div class="text-center">
        <h2><b><span class="badge bg-danger">Latest Songs</span></b></h2>
      </div><br>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light mx-5 h-100">
            <div class="card-body text-center">
              <youtube-player videoId="dZ0fwJojhrs" ></youtube-player>
              <h3 class="card-title">Guru Randhawa: Lahore</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="LtvC4XhLWys"></youtube-player>
              <h3 class="card-title">Jaan Ke Bhulekhe </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="rCoPr8UwRMc"></youtube-player>
              <h3 class="card-title">Waalian : Harnoor</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="ktf4y-sYboE"></youtube-player>
              <h3 class="card-title">Duji Vaar Pyar</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="card-group">  
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-center">
              <youtube-player videoId="tLqtnGLfm4Q"></youtube-player>
              <h3 class="card-title">Tum Hi Aana</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
        
          <div class="card bg-light h-100 mx-5">
            <div class="card-body text-title">
              <youtube-player videoId="qpIdoaaPa6U"></youtube-player>
              <h3 class="card-text">Jeene Laga Hoon </h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
       <div class="card-group">
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="4f6Mr4NVKuY&t=2148s"></youtube-player>
              <h3 class="card-title">Old VS New Hindi Mashup</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        
       
          <div class="card bg-light h-100 mx-2">
            <div class="card-body text-center">
              <youtube-player videoId="FxAG_11PzCk" ></youtube-player>
              <h3 class="card-title"> Galliyan (Ek Villain)</h3>
              <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
              <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">DisLike</a>
              <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
            </div>
          </div>
        </div>
      </div>

</div>
