<div class="container-fluid">
   
  <div>
    <youtube-player videoId="47r8FXYZWNU"  [height]="400"
    [width]="1090"></youtube-player>
  </div><br>
  
  <div class="text-center">
    <h2><b><span class="badge bg-danger">Latest Videos</span></b></h2>
  </div><br>
  <div class="row mb-5">
    <div class="card-group">
      <div class="card bg-light mx-5 h-100">
        <div class="card-body text-center">
          <youtube-player videoId="mZUydz6YH4c" ></youtube-player>
          <h3 class="card-title">Ye Dil Tum Bin</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    
      <div class="card bg-light h-100 mx-5">
        <div class="card-body text-center">
          <youtube-player videoId="3T2OmzxYUKE"></youtube-player>
          <h3 class="card-title">Lofi Song Mashup</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="card-group">
      <div class="card bg-light h-100 mx-5">
        <div class="card-body text-center">
          <youtube-player videoId="linlz7-Pnvw"></youtube-player>
          <h3 class="card-title">Switzerland</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
      <div class="card bg-light h-100 mx-5">
        <div class="card-body text-center">
          <youtube-player videoId="ub56EwPz6Wo"></youtube-player>
          <h3 class="card-title">Nightly News </h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="card-group">  
      <div class="card bg-light h-100 mx-5">
        <div class="card-body text-center">
          <youtube-player videoId="V1sT_wlzSAI"></youtube-player>
          <h3 class="card-title">BIMBISARA ( Telugu )</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    
    
      <div class="card bg-light h-100 mx-5">
        <div class="card-body text-center">
          <youtube-player videoId="NwdQx2P_ytk"></youtube-player>
          <h3 class="card-title">Bijlee Bijlee </h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
   <div class="card-group">
      <div class="card bg-light h-100 mx-2">
        <div class="card-body text-center">
          <youtube-player videoId="s-bZD3O3P80"></youtube-player>
          <h3 class="card-title">Let Me Down Slowly</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    
   
      <div class="card bg-light h-100 mx-2">
        <div class="card-body text-center">
          <youtube-player videoId="oLLQTZXLkDI" class="card-img-top"></youtube-player>
          <h3 class="card-title">5-Minutes Craft</h3>
          <a href="/login" class="btn btn-outline-success active" role="button" aria-pressed="true">Like</a>
          <a href="/login" class="btn btn-outline-danger active m-2" role="button" aria-pressed="true">Dislike</a>
          <a href="/login" class="btn btn-outline-info active" role="button" aria-pressed="true">Comment</a>
        </div>
      </div>
    </div>
  </div>

</div>